.nav {
  font-family: 'Bungee', cursive;
  height: 120px;
  width: 100%;
  position: fixed;
  top: 0;
  background: #4056A1;
  font-size: 35px;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nav-new-tweet {
  
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: large;
  display: flex;
  align-self: center;
}

strong {
  font-weight: 700;
  padding-right: 4px;
}
